In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130101', periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4),index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01 -1.067838 -1.255004 -1.085165 -0.999952
2013-01-02  0.124009 -0.800173 -1.398893 -0.615483
2013-01-03  0.933716  1.059032  0.773262  2.107627
2013-01-04 -0.119626  0.757062 -0.440926 -0.891754
2013-01-05  0.839267  1.484310  0.960369 -1.724912
2013-01-06  0.998065 -1.554776  0.966738  0.157757

In [13]:
head = ['return','episode']
CSV = pd.DataFrame(columns=head)
for _ in range(1000):
    CSV.append(np.random.rand(1,2),index =head)

TypeError: append() got an unexpected keyword argument 'index'